{% extends "calendar/base_calendar.html" %}
{% block contenido %}
        

        <div align="center" class="col-lg-12">
            <h1 class="page-header">Bienvenidos al sistema</h1>
            <h2>Calendario de actividades - UGEL San Roman</h2>
            <img src="../media/trabajo-en-equipo.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        </div>
        <div align="center">
            <a href="#" class="btn btn-primary">
                Go to calendar <span class="glyphicon glyphicon-hand-right"></span>
            </a>
        </div> <br><br><br><br>      
{% endblock contenido %}